.row {
  display: flex;
  padding: 1rem;
}

.column {
  flex: 1;
  background-color: black;
}

.text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  text-align: center;
}
