.login {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.25rem;
  color: rgba(206, 147, 0, 0.973);
}

.login h2 {
  padding: 1rem;
  font-size: 2.5rem;
}

.row {
  display: flex;
  padding: 1rem;
}

.column {
  flex: 1;
}

.label {
  padding-right: 0.5rem;
  font-size: 1.25rem;
}

#submit {
  width: 10rem;
  padding: 1rem;
  margin-left: 0.1rem;
}

#submit-button {
  background: #555555;
  color: white;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}
