nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
  }
  
  a {
    color: white !important;
    text-decoration: none !important;
  }

  a:hover {
    color: slategrey !important;
    text-decoration: wavy !important;
  }

  header {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('../assets/images/headerbg.jpg');
    background-size: cover;
    background-position: center;
  }

  header h2 {
    color: white;
  }

  header img {
    height: 200px;
  }